.QuizScreen {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__option {
    border: 1px solid black;
    width: 40%;
    cursor: pointer;
  }

  &__button {
    width: 50%;
  }
}
