@import '@helpers/variables.scss';
@import '@helpers/mixins.scss';

$gap: 1.2rem;

.screen {
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding-top: calc(2.9rem - $padding-top);
}

.slideshow {
  margin-top: calc(2rem - $gap);

  @include heightL {
    // margin-top: calc(12rem - $gap);
    position: fixed;
    left: $padding-hor;
    right: $padding-hor;
    // width: 100%;
    bottom: 4rem;
  }
}
