// colors 
$color-primary: #31728D;
$color-text: #111111;
$color-secondary-text: #B7B4C1;
$color-grey: #666666;
$color-snow: #FFFFFF;
$color-bg: #FAF9FF;
$color-secondary-bg: #E8E6EF;
$color-secondary-stroke: #D2CFDF;
$color-error: #EF6A72;
$color-bg-linear: linear-gradient(180deg, rgba(250, 249, 255, 0.00) 0%, $color-bg 12.16%);
$color-bg-blur: rgba(17, 17, 17, 0.50);

// breakpoints
$width-tablet: 768px;
$width-desktop: 1024px;
$heightL: 580px;

//animations 
$transition-duration: 0.3s