@import '@helpers/variables.scss';
@import '@helpers/mixins.scss';

.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $padding-bottom $padding-hor;
  background: $color-bg-linear;
}
