@import "@helpers/variables.scss";
@import "@helpers/normalize.scss";
@import "@helpers/mixins.scss";

:root {
  font-family: "Nunito", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: $basicSize;
  color: $color-text;
  background-color: $color-bg;

  @include tablet {
    font-size: $sizeL;
  }

  @include desktop {
    font-size: $sizeXL;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: $minWidth;
  min-height: $minHeight;
  padding: $padding-top $padding-hor $padding-bottom;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}
