@import "@helpers/variables.scss";
@import "@helpers/mixins.scss";

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-bottom: 10rem;
}

.logo {
  align-self: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.strong {
  color: $color-primary;
  font-weight: inherit;
}

.text {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;

  @include heightL {
    margin-bottom: 6rem;
  }
}

// .chart {
//   margin: 0.8rem 0 12rem;

//   @include heightL {
//     margin: 4.8rem 0 19.8rem;
//   }
// }

.question {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.answers {
  display: flex;
  width: 100%;
  gap: 1.2rem;
}
